<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="#" th:href="@{/css/index.css}" />
</head>
<body>

		<div class="container">
<div class="row no-gutter">
    <div class="col-md-3 menu">
<div class="logo mt-4 ml-3 mr-3 mb-5  text-center text-light bg-dark pt-1 pb-1">
<h3>Gold Theater</h3>
</div>
<ul class="list">
					<li><a th:href="@{/}"><i class="fas fa-home"></i>&nbsp;&nbsp;Home</a></li>
					<li><a th:classappend="${menu == 'register'} ? 'text-dark' : '' " th:href="@{home}"><i class="fas fa-user-plus"></i>&nbsp;&nbsp;Register</a></li>
					<li><a th:href="@{/login}"><i class="fas fa-users"></i>&nbsp;&nbsp;Login</a></li>
					<li><a href=""><i class="fas fa-address-card"></i>&nbsp;&nbsp;About
							us</a></li>
					<li><a href=""><i class="fas fa-phone-square-alt"></i>&nbsp;&nbsp;Contact
							us</a></li>
</ul>
			</div>
			<div class="col-sm-9 register-form">
			<div class="login">
				<div>
					<form action="save" method="post">
					<div class="login-head">
						<h3>Register</h3>
						</div>
						<div class="form-group">
							<label for="exampleInputName">Name</label> <input type="text"
								class="form-control" id="exampleInputName"
								placeholder="Enter name" name="name">

						</div>

						<div class="form-group">
							<label for="exampleInputEmail1">Email address</label> <input
								type="email" class="form-control" id="exampleInputEmail1"
								name="email" placeholder="Enter email">

						</div>

						<div class="form-group">
							<label for="exampleInputPassword1">Password</label> <input
								type="password" class="form-control" id="exampleInputPassword1"
								placeholder="Password" name="password">
						</div>

						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
					<div class="login-register">
						<p>
							Already register <span><a th:href="@{/login}">click here</a></span>
						</p>
					</div>
				</div>


			</div>
			</div>
		</div>
</div>
</body>
</html>